.about {
   padding-bottom: none;
 }
 .about__tittle__img{
   content: "";
   display: flex;
   height: 120px;
   align-items: center;
   justify-content: center;
 background-repeat: no-repeat;
 background-position: center;
 background-color:#F5F4FA;
 border-radius: 4px;
 }
 .about__list {
   display: flex;
   align-items: center;
   gap: var(--indent);
 }
 .about__sub-tittle {
   font-size: 14px;
   line-height: calc(16 / 14);
 margin-top: 30px;
 margin-bottom: 10px;
 }
 .about__description {
   line-height: 24px;
   color: var(--text-title-color);
 }
