$breakpoints: (
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1200px,
);

.container.adaptive {

   margin-right: auto;
   margin-left: auto;
   padding-right: 15px;
   padding-left: 15px;

   outline: 2px solid red;
   outline-offset: -2px;


   // phone screen
     @media screen and (min-width: 480px) {
     width: 480px;
     }

  // tablet screen
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  // desktop screen
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
 }
