.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
  transition: opacity 150ms, liniar, visibility 150ms;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translateY(-50%);

  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--background-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transition: transform 250ms,  opacity 250ms;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translatex(-50%) translateY(-50%);
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;


    display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: var(--background-main-color);
border: 1px solid rgba(0, 0, 0, 0.1);
cursor: pointer;
}
.modal-form-group {
  margin-bottom: 20px;
}
.modal-label {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: calc(23 / 20);

}
.modal-form-label {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
  color: var(--text-title-color);

}
.modal-form-wraper {
  position: relative;
  margin-bottom: 10px;



}
.modal-form-field {
  width: 100%;
  height: 41px;
  padding-left: 42px;
  padding-right: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset:-1px;
  transition: outline var(--anim-fast);

}
.modal-form-field:focus {
outline-color: var(--accent-color);

}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

  transition: fill var(--anim-fast);
}
.modal-form-field:focus+ .modal-form-icon {
fill: var(--accent-color);

}
.modal-form-message {
  display: block;
width: 100%;
height: 120px;
padding: 16px 20px;
font-size: 14px;
resize: none;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.2);
outline: 1px solid transparent;

  outline-offset:-1px;
  transition: outline var(--anim-fast);
}
.modal-form-message:focus {
  outline-color: var(--accent-color);
}




.modal-form-aqreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  min-height: 24px;
}
.modal-form-aqreement-desc {
  font-size: 14px;
  user-select: none;
}
.modal-form-aqreement-link {
  color: var(--accent-color);
}

.uncheck {
  opacity: 1;
  transition: 250ms;
}
.modal-form-checkbox:checked +
.modal-form-aqreement-icon .uncheck {
  opacity: 0;
}

.check {
  opacity: 0;
  transition: 250ms;
}
.modal-form-checkbox:checked +
.modal-form-aqreement-icon .check {
  opacity: 1;
}


.modal-form-btn {
  display: block;
  margin: 0 auto;

}