.nav {
  display: none;
  @media (min-width:  768px) {
    margin-right: auto;
    align-items: center;
    display: flex;


  }
  @media (min-width: 1200px) {

    margin-right: auto;
    align-items: center;
    display: flex;
  }
 }
 .nav__list {
   display: flex;
   align-items: center;
   gap: 50px;
   margin-right: auto;
 }
  .nav__link {
   position: relative;
   bottom: 0;
   display: block;

   padding-top: 32px;
   padding-bottom: 32px;
   font-weight: 500;
   line-height: calc(16 / 14);
   letter-spacing: 0.02em;
   color: var(--sacondary-title-color);
   align-items: center;

   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 .nav__link:hover,
 .nav__link:focus,
 .nav__link--current {
   color: var(--accent-color);
 }
 .nav__link.nav__link--current::after {
   content: "";
    position: absolute;
   left: 0;
   bottom: -1px;
   width: 100%;
   height: 4px;

   border-radius: 2px;
   background-color: var(--accent-color);

   transition: transform 250ms, opacity 250ms;
 }
 .nav__link:hover::after,
 .nav__link:focus::after {
   opacity: 1;
 }